# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS desktop services store
.DS_Store

# Pacakge directories
node_modules

# Typescript output
dist

# IDE
.idea
.vscode

# Environment
.env
.env.production

# Deploymen
.serverless
.webpack
